@{
    Page.Title = "Karthik Badam";
}

<div id="defaultWork">
    <p>Research Assistant</p>
    <p>Purdue University</p>
    <p>465 NorthWestern Avenue, West Lafayette, IN 47906, USA.</p>
</div>

<div id="defaultEmail">
    <p><a>sbadam@purdue.edu</a></p>
    <p><a>sriram.karthik6@gmail.com</a></p>
</div>

<div id="defaultPhone">
    <p><a>(mobile) +1 (765) 491 1767</a></p>
    <p><a>(work) +1 (765) </a></p>
</div>

<div id="defaultKeyWords">
    <ul>
        <li>
            Human Computer Interaction.
        </li>

        <li>
            Visualization.
        </li>
        <li>
            Visual Analytics.
        </li>
    </ul>   
</div>