@{
    Page.Title = "Karthik Badam";
}

<div id="defaultWork" class="mainContactDiv">
    <p style="font-family: Georgia; font-weight: 800">Contact Information</p>
    <p>Sriram Karthik Badam </p>
    <p>Graduate Research Assistant </p>
    <p>University of Maryland</p>
    <p>College Park, MD 20742, USA</p>


    <p style="font-family: Georgia; font-weight: 800; padding-top: 10px">E-mail</p>
    <p><a href="mailto:sbadam@umd.edu" class="email">sbadam [at] umd [dot] edu</a></p>
    <p><a href="mailto:sriram.karthik6@gmail.com" class="email">sriram.karthik6 [at] gmail [dot] com</a></p>
    
    <p style="font-family: Georgia; font-weight: 800; padding-top: 10px">Links</p>
    <a href="http://scholar.google.com/citations?user=ExY_mkUAAAAJ&hl=en" style="color: #ff6a00">[Google Scholar]</a>
    <a href="data/badam-CV.pdf" style="color: #ff6a00">[Resume]</a>

    
</div>

<div id="defaultKeyWords" class="mainKeyWordDiv">
    <p style="font-family: Georgia; font-weight: 800;">Keywords</p>

    <ul>
        <li>
            <p>Human-Computer Interaction.</p>
        </li>

        <li>
            <p>Visualization.</p>
        </li>
        <li>
            <p>Visual Analytics.</p>
        </li>
    </ul>

    <p style="font-weight: 800; padding-top: 10px; font-family: Georgia">News & Events</p>
    <ul>
        <li>
            <p>>> <a href="http://its2014.org/">ACM ITS 2014 (Dresden, Germany)</a> -- Presenting PolyChrome framework for Collaborative web visualization</p>
        </li>

        <li>
            <p>>> <a href="http://avi2014.deib.polimi.it">ACM AVI 2014 (Como, Italy)</a> -- Presented work on performance of direct-touch tablets for sketching</p>
        </li>

        <li>
            <p>>> <a href="http://chi2014.acm.org">ACM CHI 2014 (Toronto, Canada)</a> -- Presented <a href="https://github.com/karthikbadam/skWiki">skWiki</a>: a collaborative content creation framework for early design</p>
        </li>
        
    </ul>

</div>

<div id="advisorDetails">
    <p style="font-weight: 800; color: #000">Advisor</p>
    <p>I am very privileged to work with <a href="https://engineering.purdue.edu/~elm/"> Dr. Niklas Elmqvist</a> as a 
        Graduate Research Assistant.
       During my undergrad, I worked on Android applications
       for data collection and sharing through bluetooth-based peer-to-peer networks in post-disaster situations.
       I received a Masters degree from Purdue University with a thesis in Computer Engineering titled "Developing Digital Media Platforms for Early Design". 
       This work incidentally combines my interest in direct-touch tablets and sketching. 
       My research interests have evolved over time under Niklas's guidance and a unified summary of my current research directions
       can be found <a href="/data/DC_proposal_badam.pdf">here</a>.
       
</div>

<div id="footer">
      &copy; 2014 Karthik Badam
    </div>
    @Analytics.GetGoogleHtml("karthikbadam")
</body>



