@{
    Page.Title = "Karthik Badam";
}

<div id="projectsDiv">
<p style="font-weight: 800; ; font-size: 20px;">
    Proxemics
</p>
<p>
Proxemic Lens is an interaction technique for exploring multiscale visualizations using explicit gestures as
well as proxemics: the spatial relations between people and physical artifacts such as their distance, orientation, and movement.
The technique is intended for collaborative environments with large wall displays and is based on focus+context lenses that show a
detailed view of the selected content from an overview visualization. Each lens is controlled by both proxemics and mid-air gestures.
</p>


<img src="../data/proxLenses.png" width="100%" alt="Proxemics">

<hr>

<p style="font-weight: 800; ; font-size: 20px;">
    PolyChrome
</p>
<p>
PolyChrome is a web application framework for sharing interactions
and managing display space of various devices in collaborative
settings. The framework is built entirely in JavaScript and the
participating devices need only a modern web browser to utilize
PolyChrome.
</p>

<img src="../data/polychrome.png" width="100%" alt="PolyChrome">

<hr>

<p style="font-weight: 800; font-size: 20px;">
    skWiki <br/>
</p>
<p>
skWiki is a web application framework for collaborative creativity in digital multimedia projects, including text, hand-drawn sketches, and photographs. skWiki overcomes common drawbacks of existing wiki software by providing a rich viewer/editor architecture for all media types that is integrated into the web browser itself, thus avoiding dependence on client-side editors. Instead of files, skWiki uses the concept of paths as trajectories of persistent state over time. skWiki also provides a path viewer to visualize and navigate through the various paths/trajectories created during a collaborative design process.
</p>

<img src="../data/skwiki.png" width="100%" alt="skWiki">

</div>