@{
    Page.Title = "Karthik Badam";
}

<p style="font-weight: 800;">
    Proxemics
</p>

<hr>

<p style="font-weight: 800;">
    PolyChrome
</p>

<hr>

<p style="font-weight: 800;">
    skWiki
</p>

<hr>

<p style="font-weight: 800;">
    Munin
</p>

