@{
    Page.Title = "Karthik Badam";

}

<script>


    //~need to figure out how to use the json file for this~
    var publicationList = {

        "Badam2014c": {
            "title": "PolyChrome: A Cross‐Device Framework for Collaborative Web Visualization",
            "author": "<u>S. K. Badam</u> and N. Elmqvist",
            "booktitle": "In Proceedings of the ACM Conference on Interactive Tabletops and Surfaces",
            "year": "2014",
            "type": "conference",
            "link": "http://dl.acm.org/citation.cfm?id=2669518",
            "video": "https://www.youtube.com/watch?v=pKnRloUAKps"
        },


        "Badam2014b": {
            "title": "Munin: A Peer-to-Peer Middleware for Ubiquitous Analytics and Visualization Spaces",
            "author": "<u>S. K. Badam</u>, E. Fisher, and N. Elmqvist",
            "journal": "IEEE Transactions on Visualization & Computer Graphics",
            "year": "2014",
            "volume": "to appear",
            "type": "journal",
            "link": "http://doi.ieeecomputersociety.org/10.1109/TVCG.2014.2337337"
        },
        
        "roberts2014": {
            "title": "Visualization Beyond the Desktop – The Next Big Thing",
            "author": "J. C. Roberts, P. D. Ritsos, <u>S. K. Badam</u>, D. Brodbeck, J. Kennedy, N. Elmqvist",
            "journal": "IEEE Computer Graphics & Applications",
            "year": "2014",
            "volume": "to appear",
            "type": "journal", 
            "link": "http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6879056"
        },

        "Chandrasegaran2014": {
            "title": "Collaborative Sketching with skWiki: A Case Study",
            "author": "S. Chandrasegaran, <u>S. K. Badam</u>, Z. Zhao, N. Elmqvist, L. Kisselburgh, and K. Ramani",
            "booktitle": "In Proceedings of the ASME IDETC/CIE Conference",
            "year": "2014",
            "type": "conference", 
            "link": "https://engineering.purdue.edu/cdesign/wp/wp-content/uploads/2014/08/skWiki_case_study.pdf"
        },

        "Badam2014a": {
            "title": "Tracing and Sketching Performance using Blunt-tipped Styli on Direct-Touch Tablets",
            "author": "<u>S. K. Badam</u>, S. Chandrasegaran, N. Elmqvist, and K. Ramani",
            "booktitle": "In Proceedings of the ACM Conference on Advanced Visual Interfaces",
            "year": "2014",
            "pages": "193-200",
            "type": "conference",
            "link": "https://engineering.purdue.edu/cdesign/wp/wp-content/uploads/2014/05/sketch-media.pdf"
        },


        "Zhao2014": {
            "title": "skWiki: A Multimedia Sketching System for Collaborative Creativity",
            "author": "Z. Zhao, <u>S. K. Badam</u>, S. Chandrasegaran, D. G. Park, N. Elmqvist, L. Kisselburgh, and K. Ramani",
            "booktitle": "In Proceedings of the ACM CHI Conference on Human Factors in Computing Systems",
            "year": "2014",
            "pages": "1235-1244",
            "type": "conference",
            "video": "https://www.youtube.com/watch?v=kNBSvsUVFIU",
            "link": "https://engineering.purdue.edu/cdesign/wp/wp-content/uploads/2014/02/skwiki.pdf"
        },

        "Fisher2014": {
            "title": "Designing Peer-to-Peer Distributed User Interfaces: Case Studies on Building Distributed Applications",
            "author": "E. R. Fisher, <u>S. K. Badam</u>, and N. Elmqvist",
            "journal": "International Journal of Human-Computer Studies",
            "volume": "72",
            "number": "1",
            "year": "2014",
            "pages": "100-110",
            "type": "journal",
            "link": "https://engineering.purdue.edu/~elm/projects/dui-design/dui-design.pdf"
        }
    };

    console.log(publicationList);
    var keys = Object.keys(publicationList);

    $(document).ready(function () {

        keys.forEach(function (key) {
            var publication = publicationList[key];
            if (publication.type == "journal") {
                var div = $("#publicationsList" + publication.year);

                var appendString = "";
                appendString = appendString + '<li style="list-style: square; margin-left: 15px;"><p id="publicationJournal">' + publication.author + ". " + publication.title + ". " + "<i>" + publication.journal + ",</i> ";

                //div.append('<li style="list-style: square; margin-left: 15px;"><p id="publicationJournal">' + publication.author + ". " + publication.title + ". " + "<i>" + publication.journal + ",</i>")

                if (publication.volume) {
                    appendString += publication.volume;
                }

                if (publication.number) {
                    appendString += "(" + publication.number + ")";
                }

                if (publication.pages) {
                    appendString += ":" + publication.pages; 
                }

                if (publication.year) {
                    appendString += ", " + publication.year + ".";

                }

                appendString += "</p></li>";
                div.append(appendString)

                if (publication.link) {
                    div.append('<a href=' + publication.link + ' style="margin-left: 15px;">[PDF]</a>');
                }

                if (publication.video) {
                    div.append('<a href=' + publication.video + '>[VIDEO]</a>');
                }

            } else if (publication.type == "conference") {

                var div = $("#publicationsList" + publication.year);

                var appendString = "";
                appendString = appendString + '<li style="list-style: square; margin-left: 15px;"><p id="publicationConference">' + publication.author + ". " + publication.title + ". " + "<i>" + publication.booktitle + "</i>";

                //div.append('<li style="list-style: square; margin-left: 15px;"><p id="publicationConference">' + publication.author + ". " + publication.title + ". " + "<i>" + publication.booktitle + ",</i> ");


                if (publication.pages) {
                    appendString += ", pp. " + publication.pages; 
                }

                if (publication.year) {
                    appendString += ", " + publication.year + ".";

                }

                appendString += "</p></li>";
                div.append(appendString)


                if (publication.link) {
                    div.append('<a href=' + publication.link + ' style="margin-left: 15px;">[PDF]</a>');
                }

                if (publication.video) {
                    div.append('<a href=' + publication.video + '>[VIDEO]</a>');
                }
            }
        });

    });

</script>

<div id="publicationsDiv">
    
    <p style="font-weight: 500; font-size: 20px;">2014</p>
    <ul id="publicationsList2014">
        
    </ul>

    <ul id="publicationsList2015">

    </ul>

    <ul id="publicationsList2016">

    </ul>

    <ul id="publicationsList2017">

    </ul>
</div>
